.hero-area{
  background-color: #FFF2F3;
}

.hero-container{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0 80px;
    justify-content: space-between;
   
    
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: left;
    
}
.hero-left h5{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #96BB7C;
  margin-bottom: 5px;
  
}
.hero-left h1{
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 5px 0;

}

.hero-left p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color:#737373;
  width: 300px;
}
.btn{
   display: flex;
   gap: 10px;
   margin-top: 10px;
 
}
.join-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background-color: #96BB7C;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  
}

.learn-btn{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #96BB7C;
  border: 2px solid #96BB7C;
  background-color: #FFF2F3;
  padding: 10px 20px;
  border-radius: 4px;
}

.hero-right{
    display: flex;
    flex-basis: 50%;
}

.hero-right img{
    width: 100%;
    height: auto;
}



 

